body {
  /* background: orange; */
}

.code {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
  padding: 10px 0px 10px 10px;
}

#outer {
  background-color: lightyellow;
  padding: 15px;
}

#inner {
  background-color: lightcyan;
  padding: 15px;
}

.header {
  background-color: gray;
  text-align: center;
  padding: 15px;
  color: white;
}

.display {
  margin-top: 15px;
  padding: 15px;
}
